/* Archivo estilo-responsive.css */

/* Estilos para pantallas más grandes */
@media (min-width: 1201px) {
  .contenedor {
    width: 100%;
    margin: 0 auto;
  }

  .header {
    font-size: 2vw;
  }

  .titulo {
    font-size: 9vw;
  }

  .logo {
    width: 9.25vw;
    margin-left: -21vw;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header {
    font-size: 3vw;
  }

  .titulo {
    font-size: 6vw;
  }

  .logo {
    width: 15vw;
    margin-left: -7.5vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    font-size: 4vw;
  }

  .titulo {
    font-size: 7vw;
  }

  .logo {
    width: 20vw;
    margin-left: -10vw;
  }
}

/* Estilos para tabletas y dispositivos más pequeños */
@media (max-width: 768px) {
  .contenedor {
    width: 100%;
  }

  .header {
    height: auto;
    padding: 2vw 0;
  }

  .titulo {
    font-size: 8vw;
  }

  .logo {
    width: 30vw;
    margin-left: -15vw;
  }

  .navegacion {
    height: auto;
  }

  .iconos,
  .iconos2 {
    font-size: 3vw;
  }

  .textoNav {
    font-size: 4vw;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .panelComic {
    width: 90%;
    margin: 2em auto;
    margin-left: 0;
    padding: 1em;
  }

  .imagenCambiable img {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 640px) {
  .contenedor {
    width: 100%;
  }

  .header {
    font-size: 5vw;
  }

  .titulo {
    font-size: 10vw;
  }

  .logo {
    width: 40vw;
    margin-left: -20vw;
  }

  .navegacion {
    height: auto;
  }

  .iconos,
  .iconos2 {
    font-size: 4vw;
  }

  .textoNav {
    font-size: 5vw;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .panelComic {
    width: 100%;
    padding: 0.5em;
  }

  .imagenCambiable img {
    margin-bottom: 0.3em;
  }
}
