* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #801515;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 9.56vw;
  font-size: 2vw;
  color: #fff;
  display: flex;
  padding: 2rem;
}

.titulo {
  text-shadow: -0.02em -0.02em 0.1em rgba(0, 0, 0, 0.5),
    0.02em -0.02em 0.1em rgba(0, 0, 0, 0.5),
    -0.02em 0.02em 0.1em rgba(0, 0, 0, 0.5),
    0.02em 0.02em 0.1em rgba(0, 0, 0, 0.5);
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.5vw;
  position: relative;
  color: #ffba20;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: 500;
  font-size: 9vw;
  z-index: 1;
}

.logo {
  transform: translate(-50%, -50%);
  padding-top: 0.75rem;
  position: absolute;
  margin-left: -21vw;
  max-width: 100%;
  width: 9.25vw;
  height: auto;
  z-index: 2;
  left: 50%;
  top: 50%;
}

.navegacion {
  background-color: #fcf9f2;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.izquierda {
  display: flex;
  align-items: center;
}

.iconos {
  margin-left: 1.55rem;
  margin-top: 0.55rem;
  margin-bottom: 0.35rem;
  font-size: 2.25rem;
}

.textoNav {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.2vw;
  font-weight: 1.55vw;
  font-size: 3rem;
  margin-left: 2.25rem;
}

.derecha {
  display: flex;
  align-items: center;
}

.iconos2 {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.55rem;
  margin-bottom: 0.35rem;
  width: 2.55rem;
  height: 2.55rem;
  font-size: 2.25rem;
}

.shop {
  margin-right: 4rem;
}

.busqueda {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 0.75vw;
  border-radius: 9.25px;
  border: 2.5px solid #333;
  height: 1.5vw;
  width: 12vw;
}

.panelComic {
  width: 20vw;
  height: 25.5vw;
  background-color: #fff;
  padding: 2.5em;
  border: 8px solid #333;
  position: relative;
  margin-top: 3.5rem;
  margin-left: 9.55rem;
}

.presenta {
  width: 58.75vw;
  height: 28.5vw;
  background-color: #fff;
  border: 8px solid #333;
  position: relative;
  margin-left: 27.5em;
  margin-bottom: 3rem;
}

.presenta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentacion {
  text-shadow: -0.02em -0.02em 0.1em rgba(0, 0, 0, 0.5),
    0.02em -0.02em 0.1em rgba(0, 0, 0, 0.5),
    -0.02em 0.02em 0.1em rgba(0, 0, 0, 0.5),
    0.02em 0.02em 0.1em rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  z-index: 1;
  color: #ffba20;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.75vw;
  font-weight: 550;
  font-size: 5.25rem;
}

.imagenCambiable img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-bottom: 1em;
}

.otraInfo {
  width: 78rem;
  height: 38.5em;
  position: relative;
  background-color: #fff;
  border: 8px solid #333;
  margin: 3em;
}

.tracker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viñeta3 {
  width: 55vw;
  height: 27.5vw;
  background-color: #fff;
  border: 8px solid #333;
  position: relative;
  margin-top: 9.35rem;
  margin-left: 7.5em;
  margin-bottom: 6.5rem;
  display: inline-block;
}

.viñeta3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viñeta4 {
  width: 20vw;
  height: 25.5vw;
  background-color: #fff;
  border: 8px solid #333;
  margin-left: 5.5rem;
  display:inline-block;
  overflow: hidden;
}

.viñeta4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.mascota {
  transform: translate(-50%, -50%);
  padding-top: 0.75rem;
  position: absolute;
  margin-left: 4rem;
  max-width: 100%;
  width: 30rem;
  height: 24.25rem;
  z-index: 2;
  left: 8.25%;
  top: 22.95%;
}

.footer {
  background-color: #363a3b;
  justify-content: left;
  position: relative;
  height: 13.1vw;
  font-size: 2vw;
  color: #fff;
  display: flex;
  align-items: center;
}

.copy {
  margin-left: 1.5rem;
  font-size: 2rem;
}

.textoCopy {
  margin-left: 0.55vw;
}

.textoPolicy {
  font-size: 1.25rem;
  margin-left: 5.25rem;
  display: inline-block;
}

.textoPolicy a{
  color: #fff;
}

.copyright {
  margin-left: 20rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  z-index: 4;
}

.idiomas {
  display: flex;
  margin-left: 20rem;
  font-size: 1.25rem;
}

.idiomas i{
  font-size: 2.25rem;
}

.idiomas p{
  margin-left: 1vw;
}

.idiomas a{
  color: #fff;
}