/* Ocultar el checkbox original */
.checkEjercicio input[type="checkbox"] {
    display: none;
  }
  
  /* Pseudo-elemento para el checkbox */
  .checkEjercicio label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  /* Estado hover */
  .checkEjercicio:hover label::before {
    background-color: #000;
    opacity: 0.3;
  }
  
  /* Estado checked */
  .checkEjercicio input[type="checkbox"]:checked + label::before {
    background-color: #008000;
    border-color: #008000;
  }
  
  .checkEjercicio input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg) translateY(-50%) skewX(-20deg);
    position: absolute;
    top: 40%;
    left: 45%;
  }
  
  /* Añadir fondo a la etiqueta label */
  .checkEjercicio label {
    background-color: rgba(0,0,0,0.1);
  }
  
  /* Ajustar el margen entre las casillas de verificación */
  .checkEjercicio {
    margin: 0 5px;
  }
  