@media (max-width: 1024px) {
    .contenedor {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

@media (max-width: 768px) {
    .apartado1, .apartado2, .apartado3{
        width: calc(70% / 2);
        width: 46%;
        margin: 0 5%;
    }
}

@media (max-width: 600px) {
    .apartado1, .apartado2, .apartado3{
        width: calc(70% / 2);
        width: 96%;
        margin: 0 2%;
    }
}}