@media (max-width: 1024px) {
    .titulo{
        width: calc(70% / 3);
        margin:  50%;
    }
}

@media (max-width: 768px) {
    .apartado1, .apartado2, .apartado3{
        width: calc(70% / 2);
        width: 46%;
        margin: 0 5%;
    }
}

@media (max-width: 600px) {
    .apartado1, .apartado2, .apartado3{
        width: calc(70% / 2);
        width: 96%;
        margin: 0 2%;
    }
}