@media (max-width: 710px) {
    .tarjetas {
        padding: 2% 30%;
    }
    
    .card {
        position: relative;
        width: 18rem;
        height: 28rem;
    }

    .card-text {
        font-size: 2vw;
    }

    .nav-link {
        margin-right: 2vw;
    }
}

